body {
  font-size: 3rem;
}

.page-background {
  background-size: cover;
  background-position: center;
  height: 100%;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
}

.content {
  display: block;
}

.profile-image {
  height: 15rem;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  @include mobile {
    height: 21.5rem;
  }
}
