body {
  font-size: 3rem;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
}

.content {
  display: block;
}

.profile-image {
  height: 15rem;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
