#carouselExampleControls {
  width: 60%;
  float: right;
  margin-left: 25px;
  margin-bottom: 10px;
}

.project-link {
  text-decoration: underline;
  color: #ffd7c9;
  &:hover {
    text-decoration: underline;
    color: white;
  }
}
