#carouselExampleControlsOne, #carouselExampleControlsTwo, #carouselExampleControlsThree {
  width: 60%;
  float: right;
  margin-left: 25px;
  margin-bottom: 10px;
  border: 2px solid $gray;
  @include mobile {
    width: 100%;
    margin-left: 0px;
  }
}

.project-link {
  text-decoration: underline;
  color: $red;
  &:hover {
    text-decoration: underline;
    color: $gray;
  }
}
