<div class="footer">
  <div class="footer-links">
    <%= link_to "https://github.com/EvelinaLarsson", target: "_blank" do %>
      <i class="fab fa-github"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/sirlefteye/", target: "_blank" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/evelina-larsson-ldn/", target: "_blank" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
  </div>
  <div class="photo-cred">
    <span>Photo by <a href="http://larssonfoto.se/" target="_blank">Daniel Larsson</a> ©</span>
  </div>
</div>
