<!-- Navbar -->
<div class="navigation">
  <div class="nav-left">EL</div>
  <div class="nav-right">
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        About
      </button>
      <div class="dropdown-menu" id="dropdown-menu-item">
        <%= link_to "Background", about_path, class: "dropdown-item", id: "dropdown-item-id" %>
        <a class="dropdown-item" id="dropdown-item-id" href="#">What now?</a>
        <a class="dropdown-item" id="dropdown-item-id" href="#">Interests</a>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Experience
      </button>
      <div class="dropdown-menu" id="dropdown-menu-item" flip="static">
        <a class="dropdown-item" id="dropdown-item-id" href="#">Le Wagon</a>
        <a class="dropdown-item" id="dropdown-item-id" href="#">Hogarth</a>
        <a class="dropdown-item" id="dropdown-item-id" href="#">Editing</a>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Projects
      </button>
      <div class="dropdown-menu" id="dropdown-menu-item">
        <a class="dropdown-item" id="dropdown-item-id" href="#">126</a>
        <a class="dropdown-item" id="dropdown-item-id" href="#">Limelight</a>
        <a class="dropdown-item" id="dropdown-item-id" href="#">My Cocktails</a>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Contact
      </button>
    </div>
  </div>
</div>
