<!-- Navbar version 2 -->
<div class="navigation">
  <div class="nav-left">
    <%= link_to "EL", root_path %>
  </div>
  <div class="nav-right">
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle">
        <%= link_to "About", about_path, class: "dropdown-item", id: "dropdown-item-id" %>
      </button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle">
        <%= link_to "Experience", experience_path, class: "dropdown-item", id: "dropdown-item-id" %>
      </button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle">
        <%= link_to "Projects", projects_path, class: "dropdown-item", id: "dropdown-item-id" %>
      </button>
    </div>
  </div>
</div>
