<div class="page-background" style="background-image: url(https://res.cloudinary.com/db1sllnsq/image/upload/v1570459933/background-close-up-color-1101122_ngdfmu.jpg);">
  <%= render 'shared/navbar' %>
  <div class="container">
    <h1>ABOUT</h1>
    <div class="content">
      <p>Born in a small village in Sweden, I moved to London in 2012, when I decided to widen my opportunities.</p>
      <%= image_tag "me.png", class: "profile-image" %>
    </div>
    <h2 id="background">Background</h2>
    <div class="content">
      <p>I did technical studies in Secondary School, but went on to do a Bachelor of Arts in Publishing and English at Lund University. My goal was to follow my love of books and get into publishing, and I did work at a publishing house in Lund for a couple of years, during which time I edited and produced two books. At one point the company decided that a website upgrade was needed, and this is when I first started working on web applications. My extensive work with the content management system Episerver led to another job, this time at Kristianstad University, where I was involved with another website upgrade.</p>
      <p>Once in London I carried on working with online content as a freelancer, splitting my time between writing articles for a Swedish online platform aimed at graduates, and working on the database and marketplace of a furniture startup.</p>
      <p>In 2014 I joined Hogarth Worldwide, and over the next few years I became more and more interested in extending my knowledge of web apps. I joined the online coding platform Codecademy and used a number of other resources to teach myself how to code. After a lot of hard work and determination I took the leap in 2019, and joined Batch #287 at the Le Wagon 9-week full-stack coding bootcamp.</p>
    </div>
    <h2 id="what-now">What now?</h2>
    <div class="content">
      <p>Since graduating from Le Wagon in September I have continued my studies while looking for the perfect job. Codecademy is still part of my study plan, and I am working to develop my proficiency in JavaScript and React.</p>
    </div>
    <h2 id="interests">Interests</h2>
    <div class="content">
      <p>Aside from coding I am very into food, cooking and baking, I am especially fond of pizza and pasta, and the rustic cooking of Italy. Reading is a passion of mine, Margaret Atwood being my favourite author, and even though I am a bit embarrassed about it I know everything there is to know about the Harry Potter series.</p>
      <p>My wife Cleo and I try to go camping or hiking or boating at least a couple times a year. Our latest adventure was walking 75 miles along Hadrian’s Wall from Carlisle to Newcastle, and in mid-October we rented a boat and travelled the Norfolk Broads for a week.</p>
      <p>Whenever I can convince anyone to do a quiz with me, or play a boardgame or cards, I am happy.</p>
    </div>
  </div>
  <%= render 'shared/generic-footer' %>
</div>
