<%= render 'shared/navbar' %>
<div class="container">
  <h1>About</h1>
  <p>In 2017 I made the decision to change my career from being a Senior Account Manager at a large advertising agency to become a web developer. After studying on my own for some months, I left Hogarth in June 2019 and joined the Le Wagon bootcamp in July. I recently graduated as a full-stack developer after presenting my team’s project on stage at Google Start-up Campus. </p>
  <p>
  At one point during the 9-week bootcamp, which focuses on Ruby and Ruby on Rails, I realised that I want to specialise in front-end development, and discovered I have an aptitude for it. In the project weeks, which are the last two weeks of the bootcamp, I happily took on styling our website as well as making it responsive on all devices, the results of which can be seen here: www.onetwosix.co.uk. Starting with an idea and following it through to the end is such rewarding work, and I am very proud of what my team and I managed to achieve in just 10 days. The prospect of working in this area on a daily basis is immensely exciting to me. </p>
  <p>
  I have gained a lot of experience with HTML5 and CSS/SCSS from previous jobs and projects, and JavaScript during the bootcamp. Our end project was an MVC app built in Ruby on Rails, and in my CV there are links to other MVC projects I worked on during the bootcamp. Apart from Ruby, HTML and CSS we studied relational databases, scraping and parsing, SQL and Postgres, TDD and Bootstrap. Since graduating I am continuing my studies, and currently taking further courses in JavaScript as well as React using online resources.
  </p>
</div>
