<div class="page-background" style="background-image: url(https://res.cloudinary.com/db1sllnsq/image/upload/v1570289033/bg_qtlg9d.png);">
  <%= render 'shared/navbar' %>
  <div class="container">
    <h1>About</h1>
    <div class="content">
      <p>Originally from a small village in Sweden, I have lived in London since 2012 when I decided to move countries for more opportunities.</p>
      <%= image_tag "me.png", class: "profile-image" %>
    </div>
    <h2 id="background">Background</h2>
    <div class="content">
      <p>I did technical studies in Secondary School, but went on to do a Bachelor of Arts in Publishing and English at Lund University. My goal was to follow my love of books and get into publishing, and I did work at a publishing house in Lund for a couple of years, during which time I edited and published two books. At one point the board decided that a website upgrade was needed, and this is when I first started working on web applications. My extensive work with the content management system Episerver led to another job, this time at Kristianstad University, where another website upgrade took place.</p>
      <p>Once in London I kept working with content as a freelancer, splitting my time between writing articles for a Swedish online platform aimed at graduates and working on the database and marketplace of a furniture startup.</p>
      <p>In 2014 I joined Hogarth Worldwide and over the next few years I got more and more interested in taking my knowledge of web apps further. I joined Codecademy and used a number of other online resources to teach myself how to code. In 2019 I finally took the leap, and joined batch #287 at the Le Wagon 9-week bootcamp, and the rest is history.</p>
    </div>
    <h2 id="what-now">What now?</h2>
    <div class="content">
      <p>Since graduating from Le Wagon in September I am continuing my studies while looking for the perfect job. Codecademy is still relevant, and I am eager to become more proficient in JavaScript and eventually React.</p>
    </div>
    <h2 id="interests">Interests</h2>
    <div class="content">
      <p>Except for coding I am very into food and cooking and baking, I am especially fond of pizza and pasta and the rustic cooking connected with Italy. Reading is a passion of mine, Margaret Atwood being my favourite author by far, and even though I am a bit embarrassed about it I know <strong>everything</strong> about the Harry Potter series. My wife Cleo and I try to go camping or hiking or boating at least a couple times a year, our latest adventure was walking 75 miles along Hadrian’s Wall from Carlisle to Newcastle, and in mid-October we rented a boat and travelled the Norfolk broads for a week. Whenever I can convince anyone to do a quiz with me or play a boardgame or cards, I am happy.</p>
    </div>
  </div>
  <%= render 'shared/generic-footer' %>
</div>
