<div class="page-background" style="background-image: url(https://res.cloudinary.com/db1sllnsq/image/upload/v1570289033/bg_qtlg9d.png);">
  <%= render 'shared/navbar' %>
  <div class="container">
    <h1>Contact</h1>
  </div>
  <%= render 'shared/generic-footer' %>
</div>
