<div class="page-background" style="background-image: url(https://res.cloudinary.com/db1sllnsq/image/upload/v1570459933/background-close-up-color-1101122_ngdfmu.jpg);">
  <%= render 'shared/navbar' %>
  <div class="container">
    <h1>Experience</h1>
    <div class="experience">
      <p>I trained as an editor and gained a lot of experience with online editing and web content before I decided to retrain as a web developer.</p>
      <h2 id="le-wagon">Le Wagon</h2>
      <div class="content">
        <p>In June 2019 I joined the Le Wagon bootcamp in London, an intensive program which guides its students from a basic knowledge of programming to being a full-stack developer in 9 weeks. The program focuses on Ruby and Ruby on Rails, but HTML5, CSS3 with SCSS and SASS, JavaScript, SQL, ActiveRecord, scraping and parsing, JSON and RESTful API integration were also part of the curriculum.</p>
        <p>During my time at Le Wagon I decided to focus on the front-end as I realised it comes naturally to me. Contrary to the back-end the updates are visible, and I really enjoy finding the balance between elements as well as the right fonts and placements. In a future I would enjoy either working to a spec provided and match it to the pixel, or work with a designer to come up with concept for web applications.</p>
      </div>
      <h2 id="hogarth">Hogarth</h2>
      <div class="content">
        <p>In 2014 I was hired permanently by Hogarth Worldwide and joined them as an Account Executive, over the years my experience expanded and I left in 2019 as a Senior Account Manager. Management wanted me to apply for Account Director roles, but rather than go further into the sales and revenue part of the advertising industry I decided to leave and go the more technical route.</p>
        <p>Hogarth is an implementation and transcreation agency, and during my years with them I worked on a number of accounts; Johnson & Johnson, Acer, Nestlé Waters, Nespresso, Dior, Bookings.com and Coca Cola. My experience on these accounts range from TV commercial and digital campaign production to web development using Drupal. Other notable experience is project management and QC as well as being solely responsible for the Nordic Coca-Cola markets when it comes to scope of work, revenue and client expectations.</p>
      </div>
      <h2 id="editing">Editing</h2>
      <div class="content">
        <p>An editor by training I joined a publishing house after university, after publishing a few books I got into online editing and content management following a website update. Since this first experience all my jobs have included editing, online editing and content management.</p>
        <p>In addition to the editing connected to my work experience I have a proof read and edited a number of academic, factual and fictional texts;</p>
        <ul class="publ-list">
          <li class="title">E.D. Biography - (Title TBC)</li>
          <li>Ghazal Delafrouz, In progress</li>
        </ul>
        <ul class="publ-list">
          <li class="title">Esoteric, Occult and Apocalyptic Cults</li>
          <li>Johan Nilsson, PhD, Centre for Theology and Religious Studies, Lund University, 2016</li>
        </ul>
        <ul class="publ-list">
          <li class="title">Comunicare 1</li>
          <li>Donatella Prete & Pierangelo Sassola, Folkuniversitetet Publishing House, 2014</li>
        </ul>
        <ul class="publ-list">
          <li class="title">Saga Swärd: omskakare och världsresenär</li>
          <li>Taliah Pollack, Vombat Publishing House, 2012</li>
        </ul>
        <ul class="publ-list">
          <li class="title">The Harmonious Idea of the Political</li>
          <li>Ghazal Delafrouz, MA, Department of Political Science, Lund University, 2011</li>
        </ul>
        <ul class="publ-list">
          <li class="title">Prosím : en introduktion till tjeckiska språket</li>
          <li>Peter Rovan & Pierangelo Sassola, Folkuniversitetet Publishing House, 2010</li>
        </ul>
        <ul class="publ-list">
          <li class="title">In Search of Sexual Revolutions in New Delhi. Gendering Sex Education: Approaches for Sexual Empowerment</li>
          <li>Mette Gabler, MS, International Development and Management, Lund University, 2009</li>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'shared/generic-footer' %>
</div>
