<div class="page-background" style="background-image: url(https://res.cloudinary.com/db1sllnsq/image/upload/v1570459933/background-close-up-color-1101122_ngdfmu.jpg);">
  <%= render 'shared/navbar' %>
  <div class="container">
    <h1>EXPERIENCE</h1>
    <div class="experience">
      <p>I trained as an editor and gained a lot of experience with online editing and web content as well as advertising and production before I decided to retrain as a web developer.</p>
      <h2 id="le-wagon">Le Wagon</h2>
      <div class="content">
        <p>In June 2019 I joined the Le Wagon bootcamp in London, an intensive program which guides its students from a basic knowledge of programming to being a full-stack developer in 9 weeks. The program focuses on Ruby and Ruby on Rails, as well as HTML5, CSS3 with SCSS and SASS, JavaScript, SQL, ActiveRecord, scraping and parsing, JSON and RESTful API integration.</p>
        <p>During my time at Le Wagon I decided to focus on the front-end as I realised it comes naturally to me. The updates are visible, an element of instant gratification, and I really enjoy finding the balance between elements and the right fonts and placements. In a future job I would enjoy either working with a designer to come up with design concepts for web applications, or working to a provided spec and matching it to the pixel, making use of my eye for detail and precision.</p>
      </div>
      <h2 id="hogarth">Hogarth</h2>
      <div class="content">
        <p>In 2014 I was hired by Hogarth Worldwide and joined them as an Account Executive. Over the years my responsibilities expanded and I left in 2019 as a Senior Account Manager. My next step would have been an Account Director role, but rather than go further into the sales and revenue side of the advertising industry I decided to leave and opt for a more technical challenge.</p>
        <p>Hogarth is an implementation and transcreation agency, and during my years with them I worked on a number of accounts: Johnson & Johnson, Acer, Nestlé Waters, Nespresso, Dior, Booking.com and Coca Cola. My experience on these accounts range from TV commercial and digital campaign production to web development using Drupal. Other aspects of my job were project management and QC, as well as being solely responsible for the Nordic Coca-Cola markets in terms of scope of work, revenue and client expectations.</p>
      </div>
      <h2 id="editing">Editing</h2>
      <div class="content">
        <p>An editor by training, I joined a publishing house after graduating from university. Working with language and words suits my attention to detail and ability to focus and be precise, and I really enjoyed the every part of the process from discussing an idea with an author to then hold the book in my hand.</p>
        <p>After producing a few books, I went into online editing and content management starting with a company website update. Since this first experience with web content all my jobs have included content management in one form or another.</p>
        <p>In addition to my publishing work I have a proof read and edited a number of academic, factual and fictional texts, including:</p>
        <ul class="publ-list">
          <li class="title">E.D. Biography - (Title TBC)</li>
          <li>Ghazal Delafrouz, in progress</li>
        </ul>
        <ul class="publ-list">
          <li class="title">Comunicare 1</li>
          <li>Donatella Prete & Pierangelo Sassola, Folkuniversitetet Publishing House, 2014</li>
        </ul>
        <ul class="publ-list">
          <li class="title">Saga Swärd: omskakare och världsresenär</li>
          <li>Taliah Pollack, Vombat Publishing House, 2012</li>
        </ul>
        <ul class="publ-list">
          <li class="title">The Harmonious Idea of the Political</li>
          <li>Ghazal Delafrouz, MA, Department of Political Science, Lund University, 2011</li>
        </ul>
        <ul class="publ-list">
          <li class="title">Prosím : en introduktion till tjeckiska språket</li>
          <li>Peter Rovan & Pierangelo Sassola, Folkuniversitetet Publishing House, 2010</li>
        </ul>
        <ul class="publ-list">
          <li class="title">In Search of Sexual Revolutions in New Delhi. Gendering Sex Education: Approaches for Sexual Empowerment</li>
          <li>Mette Gabler, MS, International Development and Management, Lund University, 2009</li>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'shared/generic-footer' %>
</div>
