<div class="background" style="background-image: linear-gradient(rgba(255,255,255,0.02),rgba(255,255,255,0.2)), url(https://res.cloudinary.com/db1sllnsq/image/upload/v1570286667/smaller_lguvl0.png);">
  <%= render 'shared/navbar' %>
  <div class="container">
    <h1 class="headline">Evelina Larsson</h1>
    <h3 class="subtitle">Front-end Developer</h3>
  </div>
  <%= render 'shared/home-footer' %>
</div>
