<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Activate Bootstrap 3 Dropdowns on Hover</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/db1sllnsq/image/upload/v1568883019/mellby_eufzba.jpg);">
      <%= render 'shared/navbar' %>
    <!-- Body content -->
      <div class="container">
        <h1 class="headline">Evelina Larsson</h1>
        <h3 class="subtitle">Front-end Developer</h3>
      </div>
    </div>
  </body>
</html>
