.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  height: 80px;
}

.nav-left {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
}

.nav-left a {
  text-decoration: none;
  color: lightgrey;
  &:hover {
    text-decoration: none;
    color: lightgrey;
  }
}

.nav-right {
  display: flex;
  height: 120px;
}

.items {
  list-style: none;
}

.items li {
  display: inline;
  padding-left: 25px;
}

.btn-group {
  &:active {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
  &:hover {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
}

.btn {
  &:active {
    box-shadow: none;
  }
}

#dropdown-item-id {
  color: lightgrey;
  font-size: 18px;
  &:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow: none;
    border: none;
    border-radius: 5px;
    transition-delay: 0.06s;
  }
}

button.btn.dropdown-toggle::after {
  content:none;
}
