@import "config/media-queries";
@import "config/colours";

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  height: 80px;
}

// .nav-left {
//   font-family: 'Poiret One', cursive;
//   font-size: 50px;
//   margin-top: -22px;
//   margin-left: 10px;
//   @include mobile {
//     margin-top: 0px;
//     margin-left: 0px;
//   }
// }

// .nav-left a {
//   text-decoration: none;
//   color: $gray;
//   &:hover {
//     text-decoration: none;
//     color: $hover;
//   }
// }

img {
  height: 4rem;
}
.pizza-colour {
  display: none;
}

.nav-right {
  display: flex;
  height: 120px;
  @include mobile {
    display: none;
  }
}

.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
  margin-bottom: 0;
}

.navbar-dark .navbar-toggler {
  border-color: transparent !important;
}

.navbar-dark .navbar-toggler {
  color: rgba(255,215,201,1) !important;
}

.items {
  list-style: none;
}

.items li {
  display: inline;
  padding-left: 25px;
}

button#default-cursor.btn.dropdown-toggle {
  height: 40px;
  margin-top: 40px;
  background-color: transparent;
}

button#dropdownMenuButton.navbar-toggler.dropdown-toggle::after {
  content: none;
}

button.btn.dropdown-toggle::after {
  content: none;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: default;
}

button.navbar-toggler {
  @include large-desktop {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include large-tablet {
    display: none;
  }
  @include tablet {
    display: none;
  }
  &:focus {
    outline: none !important;
  }
}

.mobile-dropdown {
  @include large-desktop {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include large-tablet {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

#mobile-menu {
  background-color: transparent;
  text-align: right;
  margin-top: -25px;
  border: none;
}

#mobile-item {
  color: $gray;
  font-size: 14px;
  float: right;
  width: 40%;
  padding-right: 12px;
}

.dropdown-menu {
  right: 0 !important;
}

.btn:not(:disabled):not(.disabled) {
  color: $gray;
  box-shadow: none;
  font-size: 18px;
}

#default-cursor {
  cursor: default;
}

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle{
  margin-bottom: 2px;
}

#dropdown-menu-item {
  margin-top: -50px;
  background-color: transparent;
  border: none;
  font-size: 14px;
}

#dropdown-item-id {
  width: 80%;
  color: $gray;
  border-radius: 5px;
  padding: 0.25rem 1rem;
  &:hover {
    background-color: transparent;
    color: $hover;
  }
}

.btn-group, .btn-group-vertical {
  width: fit-content;
  margin-right: 10px;
}

.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn.active {
    z-index: 1;
}

a#dropdown-item-id.dropdown-item.btn.dropdown-toggle::after {
  content: none;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: transparent !important;
}

i.fas.fa-bars {
  &:focus {
    outline: none !important;
  }
}

.fa-bars {
  color: $gray;
  font-size: 30px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    flex-basis: inherit;
  }
}
