.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  height: 80px;
}

.nav-left {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
}

.nav-left a {
  text-decoration: none;
  color: lightgrey;
  &:hover {
    text-decoration: none;
    color: lightgrey;
  }
}

.nav-right {
  display: flex;
  height: 120px;
}

.items {
  list-style: none;
}

.items li {
  display: inline;
  padding-left: 25px;
}

.btn:not(:disabled):not(.disabled) {
  color: lightgrey;
  box-shadow: none;
  font-size: 18px;
}

#default-cursor {
  cursor: default;
}

button.btn.dropdown-toggle::after {
  content:none;
}

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
  display: block;
}

#dropdown-menu-item {
  margin-top: -50px;
  background-color: transparent;
  border: none;
  font-size: 14px;
}

#dropdown-item-id {
  color: lightgrey;
  border-radius: 5px;
}

.dropdown-toggle{
  margin-bottom: 2px;
}

.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
  margin-bottom: 0;
}

.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn.active {
    z-index: 1;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: default;
}

