@import "config/media-queries";

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  height: 80px;
}

.nav-left {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  margin-top: -22px;
  margin-left: 10px;
  @include mobile {
    margin-top: 0px;
    margin-left: 0px;
  }
}

.nav-left a {
  text-decoration: none;
  color: #ffd7c9;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.nav-right {
  display: flex;
  height: 120px;
  @include mobile {
    display: none;
  }
}

.navbar-dark .navbar-toggler {
  border-color: transparent !important;
}

.items {
  list-style: none;
}

.items li {
  display: inline;
  padding-left: 25px;
}

button#default-cursor.btn.dropdown-toggle {
  height: 40px;
  margin-top: 40px;
  background-color: transparent;
}

button.btn.dropdown-toggle::after {
  content:none;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: default;
}

.btn:not(:disabled):not(.disabled) {
  color: #ffd7c9;
  box-shadow: none;
  font-size: 18px;
}

#default-cursor {
  cursor: default;
}

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle{
  margin-bottom: 2px;
}

#dropdown-menu-item {
  margin-top: -50px;
  background-color: transparent;
  border: none;
  font-size: 14px;
}

#dropdown-item-id {
  width: 80%;
  color: #ffd7c9;
  border-radius: 5px;
  &:hover {
    background-color: transparent;
    color: white;
  }
}

.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
  margin-bottom: 0;
}

.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn.active {
    z-index: 1;
}

a#dropdown-item-id.dropdown-item.btn.dropdown-toggle::after {
  content: none;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: transparent !important;
}

.navbar-dark .navbar-toggler {
  color: rgba(255,215,201,1) !important;
}

button.navbar-toggler {
  @include large-desktop {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include large-tablet {
    display: none;
  }
  @include tablet {
    display: none;
  }
  &:focus {
    outline: none !important;
  }
}

i.fas.fa-bars {
  &:focus {
    outline: none !important;
  }
}

.fa-bars {
  color:#ffd7c9;
  font-size:30px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    flex-basis: inherit;
  }
}
