@import "components/navbar";
@import "components/home-footer";
@import "components/generic-footer";
@import "bootstrap/scss/bootstrap";
@import "pages/about";
@import "pages/projects";
@import "pages/experience";

body {
  font-family: "Montserrat";
  color: lightgrey;
  background-color: #819EB3;
  font-size: 1rem;
}

h1, h2, h3 {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

.background {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.headline {
  font-family: 'Amatic SC', cursive;
  font-size: 120px;
  padding-top: 176px;
  text-align: right;
}

.subtitle {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 30px;
  padding-right: 7px;
  text-align: right;
}


